@import url(https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&family=Faustina);

/* Standard Styles */

/* Use square list bullets */
ul li {
  list-style-type: square;
}

/* Add margins to the bottom of bulleted lists */
.block.descriptive li {
  line-height: 1.5em;
  margin-bottom: 1em;
}

/* Add margins to the top of descriptive boxes when under a header */
h4 + .block.descriptive {
  margin-top: 1em;
}

/* Remove image along bottom border */
.page::after {
  background-image: none !important;
}

/* Line up page number and footnote */
.footnote,
.pageNumber {
  color: #000 !important;
  bottom: 22px !important;
  font-size: 10pt !important;
  line-height: 12px !important;
  font-family: "Sorts Mill Goudy" !important;
  font-weight: bold;
}

.footnote { width: 800px !important; }

/* Remove page background image */
.page {
  background-image: none !important;
  background-color: #fff;
}

/* Remove borders along notes */
.block.note {
  border-image: none !important;
  background-color: #f7f7d2 !important;
}

/* Remove borders along descriptive text */
.block.descriptive {
  border-image: none !important;
  border: 1px solid #000;
  padding: 4px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Sorts Mill Goudy" !important;
  color: #a5182b !important;
}

p,
li {
  font-family: Faustina !important;
  font-weight: normal !important;
}

h3,
h4 {
  padding-top: 1em;
  border-bottom: 0 !important;
}

.block.note h5,
.block.descriptive h5 {
  padding-top: 0.25em;
}
